<h2>Meet Setup</h2>

<h3>Create New Meet</h3>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary">Create Meet</button>
</form>

<hr>

<h3>Existing Meets</h3>

{% for block in meet_data %}
  <div class="card mb-4">
    <div class="card-header bg-dark text-white">
      <strong>{{ block.meet.name }}</strong> — {{ block.meet.date }}
    </div>

    <div class="card-body">

      <h5>Teams</h5>
      <a href="{% url 'add_team' %}" class="btn btn-sm btn-success mb-2">+ Add Team</a>

      <ul class="list-group">
        {% for team in block.teams %}
          <li class="list-group-item">
            <strong>{{ team.name }}</strong> ({{ team.school }})

            <div class="mt-2">
				<a href="{% url 'add_entry' block.meet.id team.id %}" class="btn btn-sm 	btn-outline-primary">
					+ Add Entry
				</a>
            </div>

            {% if block.entries.team.id %}
              <ul class="mt-2">
                {% for entry in block.entries.team.id %}
                  <li>
                    {{ entry.get_division_display }} — Order {{ entry.performance_order }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
{% endfor %}
