<h2>Meet Setup</h2>

<h4>Create New Meet</h4>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary">Create Meet</button>
</form>

<hr>

<h4>Existing Meets</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>RuleSet</th>
    </tr>
  </thead>
  <tbody>
    {% for meet in meets %}
      <tr>
        <td>{{ meet.name }}</td>
        <td>{{ meet.date }}</td>
        <td>{{ meet.ruleset }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
